<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TuLuz.Properties.Settings.DATABASE_TULUZConnectionString"
            connectionString="Data Source=DESKTOP-A7P75IG\SQLEXPRESS;Initial Catalog=DATABASE_TULUZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>